.status {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 0.5em;
}

.status .turn {
	color: #fff;
	font-size: 24px;
}

.status .divider {
	flex: 1;
}

.status button {
	font: inherit;
	cursor: pointer;
}
